@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  overflow: hidden;
  background-image: url(https://cdn.mos.cms.futurecdn.net/jqkeHZrc7H2qJGzQkfkgnX.jpg);
  background-position: center;
  background-size: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

label {
  font-size: 2rem;
}

section {
  padding: 0px 30px;
}

input, select {
  margin-top: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  width: 70vh;
  height: 95vh;
  margin: 1em auto;
  border-radius: 50px;
}

.button {
  font-size: 1rem;
  padding: 1em;
  border-radius: 70px;
  cursor: pointer;
}


h2 {
  font-size: 1.7rem;
  margin: 1em 0;
}
